@model RealEstateFinal.Models.Listing

@{
    ViewData["Title"] = "Create";
}
<div style="position: relative; left: 25%;">
    <h1>Use the form below to create a new listing</h1>
    
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly"></div>
                <div>
                    <label asp-for="Body"></label>
                    <input asp-for="Body" />
                    <span asp-validation-for="Body"></span>
                </div>
                <div>
                    <label asp-for="Title"></label>
                    <input asp-for="Title" />
                    <span asp-validation-for="Title"></span>
                </div>
                <div>
                    <label asp-for="Rent"></label>
                    <input asp-for="Rent" />
                    <span asp-validation-for="Rent"></span>
                </div>
                <div>
                    <label>Server Image Location</label>
                    <input asp-for="ImgURL" />
                    <span asp-validation-for="ImgURL"></span>
                </div>
                <div>
                    <label asp-for="Beds"></label>
                    <input asp-for="Beds" />
                    <span asp-validation-for="Beds"></span>
                </div>
                <div>
                    <label asp-for="Baths"></label>
                    <input asp-for="Baths" />
                    <span asp-validation-for="Baths"></span>
                </div>
                <div>
                    <div>
                        <label>
                            <input asp-for="AvailableNow" /> <h6>Click here if the unit is currently available</h6>
                        </label>
                    </div>
                </div>
                <div>
                    <input type="submit" value="Create" />
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
