@model RealEstateFinal.Models.Listing

@{
    ViewData["Title"] = "Delete";
}




<h1>Are you absolutely sure you want to delete this listing?</h1>


<div class="card" style="width:75%">
    <img class="card-img-top" style="width:75%" src="@Html.DisplayFor(model => model.ImgURL)">
    <div class="card-body">
        <h1 class="card-title"> @Html.DisplayFor(model => model.Title)</h1>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">@Html.DisplayFor(model => model.Body)</li>
        
    </ul>
    <div class="card-body">

        <form asp-action="Delete">
            <input type="hidden" asp-for="ID" />
            <input type="submit" value="Delete" class="btn btn-default" />
        </form>
    </div>
    <br />
    <br />
</div>